- if (typeof errors != 'undefined') {
  each error in errors
    .alert.alert-warning.alert-dismissable.fade.show(role='alert')
      h7 #{error.msg}
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') ×
- }

- if (success_msg != '') {
  .alert.alert-sucess.alert-dismissable.fade.show(role='alert')
    h4 #{sucess_msg}
    button.close(type='button', data-dismiss='alert', aria-label='Close')
      span(aria-hidden='true') ×
- }

- if (error_msg != '') {
  .alert.alert-error.alert-dismissable.fade.show(role='alert')
    h4 #{error_msg}
    button.close(type='button', data-dismiss='alert', aria-label='Close')
      span(aria-hidden='true') ×
- }

- if (error != '') {
  .alert.alert-error.alert-dismissable.fade.show(role='alert')
    h4 #{error}
    button.close(type='button', data-dismiss='alert', aria-label='Close')
      span(aria-hidden='true') ×
- }