<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img width="100px" src="https://s3.us-east-2.amazonaws.com/tie-cs-494-demo/tie_transparent.png">
        </a>
        <div class="navbar-right">
            <%if(login) { %>
            <a href="/dashboard" class="btn btn-primary my-2 my-sm-0">My Page</a>
            <a href="/users/logout" class="btn btn-primary my-2 my-sm-0">Sign Out</a>
            <% } else { %>
            <a href="/users/login" class="btn btn-primary my-2 my-sm-0">Sign In</a>
            <% } %>
        </div>
    </div>
</nav>