/** Headings **/
h1, h2, h3, h4, h5, h6 { font-family: "Raleway", serif; font-weight: 400; }

.App {
  text-align: center;
}

.App-games {
  background-color: white;
  min-height: 100vh;
  display: block;
  justify-content: center;
  flex-direction: horizontal;
  font-size: calc(10px + 2vmin);
}
