<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= game.displayTitle %></title>
    <% include partials/commonMeta %>
    <% include partials/commonCss %>
</head>

<body>
    <% include partials/navbar %>

    <iframe src="https://tie-cs-494-demo.s3.us-east-2.amazonaws.com/<%= game.displayTitle %>-<%= game.id %>/index.html"></iframe>

    <% include partials/footer %>
    <% include partials/commonJs %>
</html>