doctype html
html( lang = "en")
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='/vendor/fontawesome-free/css/all.min.css', rel='stylesheet')
    link(href='vendor/simple-line-icons/css/simple-line-icons.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    // Custom styles for this template
    link(href='stylesheets/landing-page.min.css', rel='stylesheet')
  body
    .container
      script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
      script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
    block content
    // Footer
    footer.footer.bg-light
      .container
        .row
          .col-lg-6.h-100.text-center.text-lg-left.my-auto
            ul.list-inline.mb-2
              li.list-inline-item
                a(href='#') About
              li.list-inline-item ⋅
              li.list-inline-item
                a(href='#') Contact
              li.list-inline-item ⋅
              li.list-inline-item
                a(href='#') Terms of Use
              li.list-inline-item ⋅
              li.list-inline-item
                a(href='#') Privacy Policy
            p.text-muted.small.mb-4.mb-lg-0 © Tie 2018. All Rights Reserved.
          .col-lg-6.h-100.text-center.text-lg-right.my-auto
            ul.list-inline.mb-0
              li.list-inline-item.mr-3
                a(href='#')
                  i.fab.fa-facebook.fa-2x.fa-fw
              li.list-inline-item.mr-3
                a(href='#')
                  i.fab.fa-twitter-square.fa-2x.fa-fw
              li.list-inline-item
                a(href='#')
                  i.fab.fa-instagram.fa-2x.fa-fw

