<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tie</title>
    <% include partials/commonMeta %>
    <% include partials/commonCss %>
  </head>

  <body>
    <% include partials/navbar %>
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Create a new project</h1>
          <!-- <% include ./partials/messages %> -->
          <form action="/game/upload" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="title">Title</label>
              <input
                type="title"
                id="title"
                name="title"
                class="form-control"
                placeholder=""
              />
            </div>
            <label for="title">Uploads</label>
            <div class="form-group">
              <input type="file" id="sourceFiles" name="sourceFiles" accept=".html,.css,.js" multiple>
            </div>
            <div class="form-group">
              <label for="title">Description</label>
              <input
                type="text"
                id="description"
                name="description"
                class="form-control"
                placeholder=""
                style="height:200px;" 
              />
            </div>
            <label for="title">Upload Cover Image</label>
            <div class="form-group">
              <input type="file" id="imageFile" name="imageFile" accept=".png,.jpeg">
            </div>
            <button type="submit" class="btn btn-primary btn-block"> Save </button>
          </form>
        </div>
      </div>
    </div>
    <% include partials/footer %>
    <% include partials/commonJs %>
  </body>
</html>